# Consolidating training data

Here we are going to consolidate a csv file with a dataframe containing all the data we need for fine-tuning BERT. For the preliminary results, we are not going to pre-train BERT with the domain-specific language corpus. We are going to use the "vanilla" BERT pre-trained on WordPiece. 

Note: the time interval is still just a day, but that is not particularly relevant for the next deadline.

## IT IS ON BABEYYY

In [1]:
%run functions.py

In [2]:
base_url = 'https://www.sec.gov{}'

In [107]:
filings = []
num_days = 5

for i in range(num_days):
    print('Scraping page', i)
    forms = get_current_events(i, '424B5')
    for link in forms['link_0']:
        docs = get_filing_documents(base_url.format(link))
        doc_link = docs.loc[docs.Type == '424B5', 'Document'].values[0]
        download_sec_documents(doc_link)
        

forms.insert(6, 'Filing', np.nan)
forms

Scraping page 0
Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4

,Date Filed,Form,CIK Code,Company Name,link_0,link_1,Filing
0,02-08-2021,424B5,1625072,APT Florida LLC,/Archives/edgar/data/1625072/0001047469-21-000...,browse-edgar?action=getcompany&CIK=1625072,NaN
1,02-08-2021,424B5,1507585,APT Intermediate Holdco LLC,/Archives/edgar/data/1507585/0001047469-21-000...,browse-edgar?action=getcompany&CIK=1507585,NaN
2,02-08-2021,424B5,1625235,APT New Intermediate Holdco LLC,/Archives/edgar/data/1625235/0001047469-21-000...,browse-edgar?action=getcompany&CIK=1625235,NaN
3,02-08-2021,424B5,1625081,APT Pennsylvania LLC,/Archives/edgar/data/1625081/0001047469-21-000...,browse-edgar?action=getcompany&CIK=1625081,NaN
4,02-08-2021,424B5,1507601,APT Sunshine State LLC,/Archives/edgar/data/1507601/0001047469-21-000...,browse-edgar?action=getcompany&CIK=1507601,NaN
...,...,...,...,...,...,...,...
236,02-08-2021,424B5,1625554,Utica Marcellus Texas Pipeline LLC,/Archives/edgar/data/1625554/0001047469-21-000...,browse-edgar?action=getcompany&CIK=1625554,NaN
237,02-08-2021,424B5,1565228,"Vislink Technologies, Inc.",/Archives/edgar/data/1565228/0001493152-21-002...,browse-edgar?action=getcompany&CIK=1565228,NaN
238,02-08-2021,424B5,1625556,Western Plant Services LLC,/Archives/edgar/data/1625556/0001047469-21-000...,browse-edgar?action=getcompany&CIK=1625556,NaN
239,02-08-2021,424B5,1454702,"Wyoming Interstate Company, L.L.C.",/Archives/edgar/data/1454702/0001047469-21-000...,browse-edgar?action=getcompany&CIK=1454702,NaN
240,02-08-2021,424B5,1684144,Zomedica Corp.,/Archives/edgar/data/1684144/0001171843-21-000...,browse-edgar?action=getcompany&CIK=1684144,NaN

In [3]:
files = []
for file in glob('-archives*.htm'):
    files.append(file)
files

['-archives-edgar-data-1549084-000110465921014298-tm214998-1_424b5.htm',
 '-archives-edgar-data-1422892-000121390021008067-ea135095-424b5_sinoglobal.htm',
 '-archives-edgar-data-1630805-000110465921021077-tm214528-5_424b5.htm',
 '-archives-edgar-data-1596812-000121390021008117-ea135162-424b5_enlivex.htm',
 '-archives-edgar-data-1163302-000110465921017073-tm214549-8_424b5.htm',
 '-archives-edgar-data-1696396-000119312521037392-d122077d424b5.htm',
 '-archives-edgar-data-1411688-000110465921013269-tm214599-1_424b5.htm',
 '-archives-edgar-data-1195737-000119312521035723-d45391d424b5.htm',
 '-archives-edgar-data-25743-000119312521036460-d121779d424b5.htm',
 '-archives-edgar-data-1730463-000119312521032531-d49362d424b5.htm',
 '-archives-edgar-data-877890-000119312521036390-d92207d424b5.htm',
 '-archives-edgar-data-1730463-000119312521038752-d49362d424b5.htm',
 '-archives-edgar-data-1579823-000149315221003422-form424b5.htm',
 '-archives-edgar-data-1626971-000110465921021309-tm214090d2_424b5.htm',
 '-archives-edgar-data-1665300-000162828021001979-a424b5-northland.htm',
 '-archives-edgar-data-1425205-000110465921016314-tm215806-1_424b5.htm',
 '-archives-edgar-data-1006281-000110465921020787-tm216286d1_424b5.htm',
 '-archives-edgar-data-1113148-000114036121004661-nt10020123x4_424b5.htm',
 '-archives-edgar-data-1448431-000121390021008068-ea135098-424b5_optimizerx.htm',
 '-archives-edgar-data-1348911-000119312521038440-d107435d424b5.htm',
 '-archives-edgar-data-890821-000149315221003368-form424b5.htm',
 '-archives-edgar-data-811240-000119312521034548-d887061d424b5.htm',
 '-archives-edgar-data-40545-000093041321000232-c101145_424b5.htm',
 '-archives-edgar-data-821533-000119312521031918-d120168d424b5.htm',
 '-archives-edgar-data-33745-000095015721000163-form424b5.htm',
 '-archives-edgar-data-1113148-000114036121004331-nt10020123x1_424b5.htm',
 '-archives-edgar-data-1362190-000110465921021072-tm216268d1_424b5.htm',
 '-archives-edgar-data-1438533-000119312521041735-d98693d424b5.htm',
 '-archives-edgar-data-1697532-000110465921020043-tm216031-1_424b5.htm',
 '-archives-edgar-data-1781753-000119312521035461-d123246d424b5.htm',
 '-archives-edgar-data-1596812-000121390021007771-ea135011-424b5_enlivex.htm',
 '-archives-edgar-data-877890-000119312521033411-d92207d424b5.htm',
 '-archives-edgar-data-1613170-000110465921014296-tm213913-9_424b2.htm',
 '-archives-edgar-data-1431959-000119983521000045-form-424b5.htm',
 '-archives-edgar-data-1130598-000110465921020836-tm215954-3_424b5.htm',
 '-archives-edgar-data-886128-000110465921016789-tm215846-1_424b5.htm',
 '-archives-edgar-data-1210618-000168316821000468-spi_424b5.htm',
 '-archives-edgar-data-1172631-000149315221003274-form424b5.htm',
 '-archives-edgar-data-1549084-000110465921019792-tm214998-2_424b5.htm',
 '-archives-edgar-data-1474098-000110465921013697-tm214836-2_424b5.htm',
 '-archives-edgar-data-1606163-000110465921016657-tm215692d3_424b5.htm',
 '-archives-edgar-data-1527599-000119312521036277-d122621d424b5.htm',
 '-archives-edgar-data-1697532-000110465921022146-tm216031-2_424b5.htm',
 '-archives-edgar-data-1412350-000119312521041596-d116238d424b5.htm',
 '-archives-edgar-data-1621672-000165495421001438-slgg424b5_02102021.htm',
 '-archives-edgar-data-1430306-000138713121001889-tnxp-424b5_020821.htm',
 '-archives-edgar-data-1058811-000162828021001960-immratmprospectussupplemen.htm',
 '-archives-edgar-data-1808665-000110465921020786-tm216049d1_424b5.htm',
 '-archives-edgar-data-1173643-000117184321000888-f424b5_020921.htm',
 '-archives-edgar-data-1487839-000121390021007249-ea134759-424b5_luokung.htm',
 '-archives-edgar-data-1361113-000121390021007903-f424b51020_varonissys.htm',
 '-archives-edgar-data-1659323-000119312521036599-d128701d424b5.htm',
 '-archives-edgar-data-1051470-000119312521031653-d74859d424b5.htm',
 '-archives-edgar-data-101594-000149315221003449-form424b5.htm',
 '-archives-edgar-data-1565228-000149315221002874-form424b5.htm',
 '-archives-edgar-data-1622345-000149315221002957-form424b5.htm',
 '-archives-edgar-data-93314-000107878221000113-f424b5020921_424b5.htm',
 '-archives-edgar-data-1378590-000143774921002135-blin20210204_424b5.htm',
 '-archives-edgar-data-1126956-000119312521032366-d15624d424b5.htm',
 '-archives-edgar-data-1446159-000117184321001017-f424b5_021221.htm',
 '-archives-edgar-data-1383094-000119312521038649-d76211d424b5.htm',
 '-archives-edgar-data-314203-000110465921014072-tm215644-1_424b5.htm',
 '-archives-edgar-data-1372299-000110465921016778-tm215707d1_424b5.htm',
 '-archives-edgar-data-74208-000155837021000898-tmb-20210211x424b5.htm',
 '-archives-edgar-data-1001907-000156459021005808-astc-424b5.htm',
 '-archives-edgar-data-1626971-000110465921020808-tm214090d1_424b5.htm',
 '-archives-edgar-data-63754-000119312521035850-d129362d424b5.htm',
 '-archives-edgar-data-1071739-000114036121004018-nt10019947x1_424b5.htm',
 '-archives-edgar-data-31986-000104746921000310-a2242894z424b5.htm',
 '-archives-edgar-data-1305773-000110465921020698-tm214221-1_424b5.htm',
 '-archives-edgar-data-1348911-000119312521034325-d107435d424b5.htm',
 '-archives-edgar-data-1719714-000119312521034630-d61783d424b5.htm',
 '-archives-edgar-data-1293818-000107997321000089-opgen_424b5-020921.htm',
 '-archives-edgar-data-728387-000143774921002638-isr20210210_424b5.htm',
 '-archives-edgar-data-1053691-000143774921002640-dffn20210210_424b5.htm',
 '-archives-edgar-data-101538-000165495421001555-uamy_424b5.htm',
 '-archives-edgar-data-1561627-000119312521034614-d49895d424b5.htm',
 '-archives-edgar-data-1349929-000149315221003297-form424b5.htm',
 '-archives-edgar-data-1729427-000168316821000548-cns_424b5.htm',
 '-archives-edgar-data-1481028-000121390021008304-ea135234-424b5_sunhydrogen.htm',
 '-archives-edgar-data-1507957-000110465921013707-tm215674d1_424b5.htm',
 '-archives-edgar-data-1808665-000110465921014519-tm213908d4_424b5.htm',
 '-archives-edgar-data-1778016-000119312521034299-d114844d424b5.htm',
 '-archives-edgar-data-1606163-000110465921016974-tm215692d4_424b5.htm',
 '-archives-edgar-data-1422892-000121390021007454-ea134798-424b5_sinoglobal.htm',
 '-archives-edgar-data-832489-000143774921002515-govx20210210b_424b5.htm',
 '-archives-edgar-data-1035443-000110465921017133-tm215639-1_424b5.htm',
 '-archives-edgar-data-894158-000110465921016964-tm215883d1_424b5.htm',
 '-archives-edgar-data-1665300-000162828021002136-a424b5-northlandrothxprosu.htm',
 '-archives-edgar-data-1361113-000121390021009044-f424b50221_varonissys.htm',
 '-archives-edgar-data-1778016-000119312521030991-d98473d424b5.htm',
 '-archives-edgar-data-1595248-000143774921002459-gnpx20210209_424b5.htm',
 '-archives-edgar-data-1551693-000119312521032316-d79510d424b5.htm',
 '-archives-edgar-data-320017-000032001721000018-prospectussupplement202102.htm',
 '-archives-edgar-data-1114926-000104746921000340-a2242891z424b5.htm',
 '-archives-edgar-data-1507957-000110465921019809-tm215887d1_424b5.htm',
 '-archives-edgar-data-1720580-000156459021005095-acet-424b5.htm',
 '-archives-edgar-data-1117171-000121390021007784-ea135001-424b5_cbakenergy.htm',
 '-archives-edgar-data-1720580-000156459021005597-acet-424b5.htm',
 '-archives-edgar-data-1684144-000117184321000891-f424b5_020921.htm',
 '-archives-edgar-data-1476150-000119312521036375-d79976d424b5.htm',
 '-archives-edgar-data-1551693-000119312521034496-d79510d424b5.htm',
 '-archives-edgar-data-1561627-000119312521038458-d49895d424b5.htm',
 '-archives-edgar-data-1780097-000119312521034582-d116744d424b5.htm',
 '-archives-edgar-data-1630805-000110465921016683-tm214528d2_424b5.htm',
 '-archives-edgar-data-1163302-000110465921013326-tm214549-5_424b5.htm',
 '-archives-edgar-data-1448431-000121390021007487-ea134796-424b5_optimizerx.htm',
 '-archives-edgar-data-1630805-000110465921016687-tm214528d3_424b5.htm',
 '-archives-edgar-data-1613170-000110465921014295-tm213913-8_424b5.htm',
 '-archives-edgar-data-1071739-000114036121004385-nt10019947x4_424b5.htm',
 '-archives-edgar-data-1174922-000119312521036294-d321886d424b5.htm',
 '-archives-edgar-data-1290149-000119312521040094-d19153d424b5.htm',
 '-archives-edgar-data-70145-000119312521033455-d113851d424b5.htm',
 '-archives-edgar-data-1642380-000149315221002831-form-424b5.htm',
 '-archives-edgar-data-1630805-000110465921021026-tm214528-4_424b5.htm',
 '-archives-edgar-data-1781753-000119312521038400-d123246d424b5.htm',
 '-archives-edgar-data-1130598-000110465921019853-tm215954-1_424b5.htm',
 '-archives-edgar-data-1069530-000149315221003430-form424b5.htm',
 '-archives-edgar-data-1066923-000121390021008279-ea135203-424b5_futurefin.htm',
 '-archives-edgar-data-821533-000104746921000345-a2242907z424b5.htm',
 '-archives-edgar-data-1438533-000119312521036369-d98693d424b5.htm',
 '-archives-edgar-data-93314-000107878221000122-f424b5021121_424b5.htm',
 '-archives-edgar-data-1711012-000110465921016738-tm215833d1_424b5.htm',
 '-archives-edgar-data-771999-000149315221002976-form424b5.htm',
 '-archives-edgar-data-895419-000119312521038792-d96174d424b5.htm',
 '-archives-edgar-data-63754-000119312521031692-d129362d424b5.htm',
 '-archives-edgar-data-1104038-000121465921001583-g210211424b5.htm',
 '-archives-edgar-data-1411688-000110465921016713-tm214599-2_424b5.htm',
 '-archives-edgar-data-1487839-000121390021008467-ea135282-424b5_luokungtech.htm',
 '-archives-edgar-data-1529113-000121390021009053-ea135419-424b5_inpixon.htm',
 '-archives-edgar-data-1339970-000156459021004999-life-424b5.htm',
 '-archives-edgar-data-1104485-000119312521032321-d86363d424b5.htm',
 '-archives-edgar-data-1637736-000110465921014314-tm215654d2_424b5.htm',
 '-archives-edgar-data-1684144-000117184321000816-f424b5_020821.htm',
 '-archives-edgar-data-1582581-000155837021000980-tmb-20210212x424b5.htm',
 '-archives-edgar-data-714256-000149315221003377-form424b5.htm',
 '-archives-edgar-data-1719714-000119312521036408-d61783d424b5.htm',
 '-archives-edgar-data-1120970-000112097021000032-a2021-02x09_comstockmining.htm']

In [7]:
data = []
codes = []
cols = ['CIK Code', 'Filing']
for file in files:
    split = file.split('-')
    CIK = split[4]
    codes.append(CIK)
    content = read_html(file)
    cleaned_content = clean_html(content)
    try:
        paragraphs = get_risk_info(get_header(cleaned_content), content)
        data.append(cleanhtml(paragraphs))
    except:
        data.append(np.nan)

/Users/danielbejarano/functions.py:86: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 86 of the file /Users/danielbejarano/functions.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  if not soup.find('p'):
/Users/danielbejarano/functions.py:98: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 98 of the file /Users/danielbejarano/functions.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  def decompose_parent(el, parent='p', not_grandparent='table'):

In [8]:
date = '2021-02-11'
dates = [date] * 138
dates

['2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11',
 '2021-02-11']

In [9]:
df = pd.DataFrame({'CIK Code': codes, 'Filing': data, 'Date Filed': dates})
df

    CIK Code                                             Filing  Date Filed
0    1549084                                                NaN  2021-02-11
1    1422892  Beforeyou make a decision to invest in our sec...  2021-02-11
2    1630805  An investment inthe Notes involves significant...  2021-02-11
3    1596812  Investingin our securities involves a high deg...  2021-02-11
4    1163302                                                NaN  2021-02-11
..       ...                                                ...         ...
133  1684144  An investment in our securitiesinvolves a high...  2021-02-11
134  1582581  Investing in our securities involves significa...  2021-02-11
135   714256  Investingin our common stock involves a high d...  2021-02-11
136  1719714  Our business, and an investment in the securit...  2021-02-11
137  1120970  Investing in our common stock involves signifi...  2021-02-11

[138 rows x 3 columns]

In [10]:
df['Date Filed'] = pd.to_datetime(df['Date Filed'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CIK Code    138 non-null    object
 1   Filing      111 non-null    object
 2   Date Filed  138 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 3.4+ KB

In [11]:
df.dropna(axis = 0, how = 'any', inplace = True)
df

    CIK Code                                             Filing Date Filed
1    1422892  Beforeyou make a decision to invest in our sec... 2021-02-11
2    1630805  An investment inthe Notes involves significant... 2021-02-11
3    1596812  Investingin our securities involves a high deg... 2021-02-11
5    1696396  Investing in our ADSs involves a high degree o... 2021-02-11
7    1195737  Investing in the Securities involves risk, inc... 2021-02-11
..       ...                                                ...        ...
133  1684144  An investment in our securitiesinvolves a high... 2021-02-11
134  1582581  Investing in our securities involves significa... 2021-02-11
135   714256  Investingin our common stock involves a high d... 2021-02-11
136  1719714  Our business, and an investment in the securit... 2021-02-11
137  1120970  Investing in our common stock involves signifi... 2021-02-11

[111 rows x 3 columns]

In [14]:
tickers = cach.get(base_url.format('/files/company_tickers.json')).json()
tickers = pd.DataFrame(tickers)
tickers

,0,1,2,3,4,5,6,7,8,9,...,11088,11089,11090,11091,11092,11093,11094,11095,11096,11097
cik_str,320193,789019,1018724,1652044,1293451,1318605,1326801,1577552,1046179,1067983,...,1832352,1831992,1832351,1832250,1831964,1831937,1831868,1831928,1831359,1831270
ticker,AAPL,MSFT,AMZN,GOOG,TCEHY,TSLA,FB,BABA,TSM,BRK-A,...,CAHCU,LMACU,ENNVU,GNACU,NRACU,CLRMU,LMAOU,DLCAU,JWSM-UN,BITE-UN
title,Apple Inc.,MICROSOFT CORP,AMAZON COM INC,Alphabet Inc.,Tencent Holdings Ltd,"Tesla, Inc.",Facebook Inc,Alibaba Group Holding Ltd,TAIWAN SEMICONDUCTOR MANUFACTURING CO LTD,BERKSHIRE HATHAWAY INC,...,CA Healthcare Acquisition Corp.,Liberty Media Acquisition Corp,ECP Environmental Growth Opportunities Corp.,Group Nine Acquisition Corp.,Noble Rock Acquisition Corp,Clarim Acquisition Corp.,LMF Acquisition Opportunities Inc,Deep Lake Capital Acquisition Corp.,Jaws Mustang Acquisition Corp,Bite Acquisition Corp.

In [15]:
tickers = tickers.transpose()
tickers.head()

   cik_str ticker                 title
0   320193   AAPL            Apple Inc.
1   789019   MSFT        MICROSOFT CORP
2  1018724   AMZN        AMAZON COM INC
3  1652044   GOOG         Alphabet Inc.
4  1293451  TCEHY  Tencent Holdings Ltd

In [16]:
tickers.columns = ['CIK Code', 'Ticker', 'CompanyName']
df['CIK Code'] = df['CIK Code'].astype(int)
tickers['CIK Code'] = tickers['CIK Code'].astype(int)
tickers.head()

   CIK Code Ticker           CompanyName
0    320193   AAPL            Apple Inc.
1    789019   MSFT        MICROSOFT CORP
2   1018724   AMZN        AMAZON COM INC
3   1652044   GOOG         Alphabet Inc.
4   1293451  TCEHY  Tencent Holdings Ltd

In [17]:
tickers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11098 entries, 0 to 11097
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CIK Code     11098 non-null  int64
 1   Ticker       11098 non-null  object
 2   CompanyName  11098 non-null  object
dtypes: int64(1), object(2)
memory usage: 666.8+ KB

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 1 to 137
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CIK Code    111 non-null    int64
 1   Filing      111 non-null    object
 2   Date Filed  111 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 3.5+ KB

In [19]:
train = df.merge(tickers, on = 'CIK Code', how = 'left')
train

,CIK Code,Filing,Date Filed,Ticker,CompanyName
0,1422892,Beforeyou make a decision to invest in our sec...,2021-02-11,SINO,"Sino-Global Shipping America, Ltd."
1,1630805,An investment inthe Notes involves significant...,2021-02-11,BW,"Babcock & Wilcox Enterprises, Inc."
2,1596812,Investingin our securities involves a high deg...,2021-02-11,ENLV,Enlivex Therapeutics Ltd.
3,1696396,Investing in our ADSs involves a high degree o...,2021-02-11,MITO,Stealth BioTherapeutics Corp
4,1195737,"Investing in the Securities involves risk, inc...",2021-02-11,NEA,Nuveen AMT-Free Quality Municipal Income Fund
...,...,...,...,...,...
114,1684144,An investment in our securitiesinvolves a high...,2021-02-11,ZOM,Zomedica Corp.
115,1582581,Investing in our securities involves significa...,2021-02-11,VJET,voxeljet AG
116,714256,Investingin our common stock involves a high d...,2021-02-11,SMTI,Sanara MedTech Inc.
117,1719714,"Our business, and an investment in the securit...",2021-02-11,MREO,Mereo Biopharma Group plc
118,1120970,Investing in our common stock involves signifi...,2021-02-11,LODE,Comstock Mining Inc.

In [20]:
train['Date Filed'] = train['Date Filed'].dt.strftime('%Y-%m-%d')
train

,CIK Code,Filing,Date Filed,Ticker,CompanyName
0,1422892,Beforeyou make a decision to invest in our sec...,2021-02-11,SINO,"Sino-Global Shipping America, Ltd."
1,1630805,An investment inthe Notes involves significant...,2021-02-11,BW,"Babcock & Wilcox Enterprises, Inc."
2,1596812,Investingin our securities involves a high deg...,2021-02-11,ENLV,Enlivex Therapeutics Ltd.
3,1696396,Investing in our ADSs involves a high degree o...,2021-02-11,MITO,Stealth BioTherapeutics Corp
4,1195737,"Investing in the Securities involves risk, inc...",2021-02-11,NEA,Nuveen AMT-Free Quality Municipal Income Fund
...,...,...,...,...,...
114,1684144,An investment in our securitiesinvolves a high...,2021-02-11,ZOM,Zomedica Corp.
115,1582581,Investing in our securities involves significa...,2021-02-11,VJET,voxeljet AG
116,714256,Investingin our common stock involves a high d...,2021-02-11,SMTI,Sanara MedTech Inc.
117,1719714,"Our business, and an investment in the securit...",2021-02-11,MREO,Mereo Biopharma Group plc
118,1120970,Investing in our common stock involves signifi...,2021-02-11,LODE,Comstock Mining Inc.

In [25]:
ticker_list = list(train['Ticker'])
dates = list(train['Date Filed'])
deltas = [0,7]

In [26]:
tickers_cleaned = [i for i in ticker_list if (str(i) != 'nan' and len(str(i))<5)]
dates_cleaned = train['Date Filed'][:-(len(ticker_list)-len(tickers_cleaned))]

In [27]:
prices = delta_days_ago_and_current(tickers_cleaned, dates_cleaned)
prices.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

       Reference Date  Current Close  Previous Close (delta=7)
Ticker
SINO       2021-02-11           7.71                      8.36
BW         2021-02-11           7.33                      6.27
ENLV       2021-02-11          20.00                     15.49
MITO       2021-02-11           2.17                      1.75
NEA        2021-02-11          14.96                     14.98

In [44]:
prices = prices.reset_index()
prices.columns = ['Ticker', 'Date Filed', 'Previous close', 'Next Open']
prices.head()

  Ticker  Date Filed  Previous close  Next Open
0   SINO  2021-02-11            7.40       7.24
1     BW  2021-02-11            7.25       7.75
2   ENLV  2021-02-11           19.18      21.76
3   MITO  2021-02-11            2.35       2.13
4    NEA  2021-02-11           15.03      15.00

In [45]:
train_final = train.merge(prices, on = 'Ticker', how = 'left')
train_final

,CIK Code,Filing,Date Filed_x,Ticker,CompanyName,Date Filed_y,Previous close,Next Open
0,1422892,Beforeyou make a decision to invest in our sec...,2021-02-11,SINO,"Sino-Global Shipping America, Ltd.",2021-02-11,7.400000,7.240000
1,1422892,Beforeyou make a decision to invest in our sec...,2021-02-11,SINO,"Sino-Global Shipping America, Ltd.",2021-02-11,7.400000,7.240000
2,1630805,An investment inthe Notes involves significant...,2021-02-11,BW,"Babcock & Wilcox Enterprises, Inc.",2021-02-11,7.250000,7.750000
3,1630805,An investment inthe Notes involves significant...,2021-02-11,BW,"Babcock & Wilcox Enterprises, Inc.",2021-02-11,7.250000,7.750000
4,1630805,An investment inthe Notes involves significant...,2021-02-11,BW,"Babcock & Wilcox Enterprises, Inc.",2021-02-11,7.250000,7.750000
...,...,...,...,...,...,...,...,...
178,1582581,Investing in our securities involves significa...,2021-02-11,VJET,voxeljet AG,2021-02-11,27.360001,26.280001
179,714256,Investingin our common stock involves a high d...,2021-02-11,SMTI,Sanara MedTech Inc.,2021-02-11,39.000000,27.000000
180,1719714,"Our business, and an investment in the securit...",2021-02-11,MREO,Mereo Biopharma Group plc,2021-02-11,3.050000,3.200000
181,1719714,"Our business, and an investment in the securit...",2021-02-11,MREO,Mereo Biopharma Group plc,2021-02-11,3.050000,3.200000
182,1120970,Investing in our common stock involves signifi...,2021-02-11,LODE,Comstock Mining Inc.,2021-02-11,2.270000,2.090000

In [46]:
train_final = train_final.drop_duplicates('CIK Code', keep = 'last')
train_final

,CIK Code,Filing,Date Filed_x,Ticker,CompanyName,Date Filed_y,Previous close,Next Open
8,1696396,Investing in our ADSs involves a high degree o...,2021-02-11,MITO,Stealth BioTherapeutics Corp,2021-02-11,2.350000,2.130000
9,1195737,"Investing in the Securities involves risk, inc...",2021-02-11,NEA,Nuveen AMT-Free Quality Municipal Income Fund,2021-02-11,15.030000,15.000000
10,25743,An investment in our common stock involves a h...,2021-02-11,TXMD,"TherapeuticsMD, Inc.",2021-02-11,2.170000,1.990000
16,1730463,Investing in our ADSs involves a high degree o...,2021-02-11,AUTL,Autolus Therapeutics plc,2021-02-11,7.000000,7.300000
17,1579823,"Beforemaking an investment decision, you shoul...",2021-02-11,NBEV,"NewAge, Inc.",2021-02-11,4.370000,3.820000
...,...,...,...,...,...,...,...,...
177,1684144,An investment in our securitiesinvolves a high...,2021-02-11,ZOM,Zomedica Corp.,2021-02-11,2.550000,2.620000
178,1582581,Investing in our securities involves significa...,2021-02-11,VJET,voxeljet AG,2021-02-11,27.360001,26.280001
179,714256,Investingin our common stock involves a high d...,2021-02-11,SMTI,Sanara MedTech Inc.,2021-02-11,39.000000,27.000000
181,1719714,"Our business, and an investment in the securit...",2021-02-11,MREO,Mereo Biopharma Group plc,2021-02-11,3.050000,3.200000
182,1120970,Investing in our common stock involves signifi...,2021-02-11,LODE,Comstock Mining Inc.,2021-02-11,2.270000,2.090000

In [49]:
train_final.drop(columns = 'Date Filed_y', inplace = True)
train_final

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,CIK Code,Filing,Date Filed_x,Ticker,CompanyName,Previous close,Next Open
8,1696396,Investing in our ADSs involves a high degree o...,2021-02-11,MITO,Stealth BioTherapeutics Corp,2.350000,2.130000
9,1195737,"Investing in the Securities involves risk, inc...",2021-02-11,NEA,Nuveen AMT-Free Quality Municipal Income Fund,15.030000,15.000000
10,25743,An investment in our common stock involves a h...,2021-02-11,TXMD,"TherapeuticsMD, Inc.",2.170000,1.990000
16,1730463,Investing in our ADSs involves a high degree o...,2021-02-11,AUTL,Autolus Therapeutics plc,7.000000,7.300000
17,1579823,"Beforemaking an investment decision, you shoul...",2021-02-11,NBEV,"NewAge, Inc.",4.370000,3.820000
...,...,...,...,...,...,...,...
177,1684144,An investment in our securitiesinvolves a high...,2021-02-11,ZOM,Zomedica Corp.,2.550000,2.620000
178,1582581,Investing in our securities involves significa...,2021-02-11,VJET,voxeljet AG,27.360001,26.280001
179,714256,Investingin our common stock involves a high d...,2021-02-11,SMTI,Sanara MedTech Inc.,39.000000,27.000000
181,1719714,"Our business, and an investment in the securit...",2021-02-11,MREO,Mereo Biopharma Group plc,3.050000,3.200000
182,1120970,Investing in our common stock involves signifi...,2021-02-11,LODE,Comstock Mining Inc.,2.270000,2.090000

In [50]:
train_final.to_csv('prelim_train_data', encoding = 'utf-8')